@{
    ViewData["Title"] = "Home Page";
}

<div class="card">
    <div class="card-body">
        <h3>CRUD</h3>
        <p>
            <strong>CRUD</strong>, an acronym for Create, Read, Update, and Delete,
            forms the foundation of most data-driven applications.
            In the context of Model-View-Controller (MVC) architecture,
            CRUD operations are seamlessly integrated to manage data interactions.
        </p>
    </div>
</div>

<div class="card mt-2">
    <div class="card-body">
        <h3>MVC</h3>
        <p>
            <strong>MVC</strong>, a design pattern that separates an application into three interconnected components — Model, View, and Controller — provides a structured approach to organizing code. The Model represents the data and business logic, the View handles the presentation and user interface, and the Controller manages user input and updates the Model and View accordingly.
        </p>
    </div>
</div>
